@import 'fonts';
@import 'vars';
@import 'global';


.inventory{
  height: 100vh;
  background: center/cover no-repeat #232534;
  padding: 315px 0 295px;
  &__inner{
    max-width: 850px;
    min-height: 830px;
    margin: 0 auto;
    position: relative;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(3, 270px);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
}
.grid-1{
  grid-area: 1 / 1 / 2 / 2;
}
.grid-2{
  grid-area: 2 / 1 / 3 / 2;
}
.grid-3{
  grid-area: 3 / 1 / 4 / 2;
}
.grid-4{
  grid-area: 3 / 2 / 4 / 3;
}
.grid-5{
  grid-area: 3 / 3 / 4 / 4;
}
.inventory__item{
  max-width: 270px;
  height: 270px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
  background: #26293a;
  border-radius: 25px;
  &-btn{
    background: #20222f;
    padding: 14px 0 18px;
    display: block;
    border-radius: 25px;
    color: #f4f4f4;
    width: 100%;
  }
}
.content__item{
  position: absolute;
  left: 67%;
  top: 33%;
  transform: translate(-50%,-50%);
  width: 559px;
  height: 550px;
  padding: 0 53px;
  background: #26293a;
  border-radius: 25px;
  text-align: center;
}
.first__item{
  padding: 113px 0;
  &-img{
    width: 198px;
    height: 256px;
  }
  &-box{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    width: 200px;
    margin: 35px auto 0;
  }
  &-text{
    color: #fbfbfb;
    text-transform: uppercase;
  }
  &-btn{
    height: 31px;
    width: 101px;
    background: #0bf1ff;
    border: none;
    border-radius: 25px;
    color: #26293a;
  }
}
.second__item{
  padding: 65px 35px 65px 55px;
  &-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    color: #a4a6b0;
  }
}
.second__list{
  &-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &-price{
    color: #f4f4f4;
    margin-left: 85px;
  }
  &-btn{
    button{
      height: 30px;
      background: #0bf1ff;
      border: none;
      border-radius: 25px;
      color: #26293a;
      padding: 0 15px;
      cursor: pointer;
    }
  }
}
.third__item{
  padding: 103px 50px;
  &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  &-slider{
    width: 300px;
  }
  &-title{
    font-size: 20px;
    color: #a4a6b0;
    text-align: left;
    text-transform: uppercase;
  }
  &-label{
    font-size: 20px;
    color: #f2f2f2;
  }
  &-btn{
    button{
      width: 92px;
      height: 20px;
      font-size: 16px;
      color: #3a3a3b;
      background: #0bf1ff;
      border: none;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}

// start rangeSlider
.irs--flat .irs-bar{
  display: none;
}
.irs--flat .irs-line{
  border-radius: 0;
  height: 2px;
  background-color: #464a60;
}
.irs--flat .irs-handle{
  width: 31px;
  height: 9px;
  background: #0bf1ff;
  box-shadow: 0 0 12px -2px #0bf1ff;;
  border-radius: 4px;
  cursor: pointer;
  i:first-child{
    display: none;
  }
}
// end rangeSlider





@import 'media';